.nav-links-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: white;
}

.welcome {
    color: white;
}
